body {
  margin: 50px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  /* background-color: rgb(245, 212, 212); */
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.left-content {
  padding-top: 50px;
  padding-left: 150px;
}

.description {
  font-size: 0.7em;
}

span {
  color: grey;
}
