.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 40% 60% ;
  margin:0 auto;
}

div p{
  margin: 10px auto;
}

.left-content {
  padding-top: 70px;
  padding-left: 200px;
}

span {
  color: grey;
}

figure img {
  width: 110%;
}

iframe {
  width: 150px; 
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
}

button{
  border: 0;
  padding: 0;
  width: 300px;
  height: 50px;
  background-color: yellow;
  border-radius: 5px;
  font-size: 1em;
  color:rgb(77, 62, 90);
}

.left-content-bottom__span{
  font-size: 0.5em;
}

.left-content-bottom__a{
  text-decoration: none;
}